/* Center the chart title */
.chart-header {
  display: flex;
  justify-content: center; /* Center the title horizontally */
  align-items: center;
  position: relative; /* Allow positioning of the dropdown */
  margin-bottom: 20px;
}

/* Style the chart title */
.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/* Position the dropdown at the right-top corner */
.dropdown-container {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-pie-chart {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
.error-message {
  color: red;
  font-size: 1rem;
}

.no-holdings-message {
  display: flex;
  justify-content: center; /* Horizontally center the message */
  align-items: center; /* Vertically center the message */
  height: 400px; /* Match the height of the chart container */
  font-size: 1.5rem;
  color: #888;
  font-style: italic;
}