.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.icon-button-small {
  padding: 4px;
}

.icon-button-large {
  padding: 16px; /* Larger padding for large buttons */
}

.icon-image {
  width: 16px;
  height: 16px;
}

.icon-button-large .icon-image {
  width: 32px; /* Larger icon size for large buttons */
  height: 32px;
}

.icon-button:hover {
  background: none !important; /* Prevent global hover styles */
  border: none !important; /* Prevent global hover borders */
  box-shadow: none !important; /* Prevent global hover shadows */
  opacity: 0.8; /* Add hover effect */
}