.profile-detail {
  padding: 16px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.profile-detail h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 16px;
}

.profile-detail p {
  font-size: 16px;
  margin: 8px 0;
}

.profile-detail-error {
  color: red;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-input-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 8px; /* Add spacing between the select and input */
}

.phone-input-container select,
.phone-input-container input {
  height: 40px; /* Ensure consistent height for both elements */
  font-size: 16px; /* Adjust font size for better readability */
  padding: 4px 8px; /* Add padding for better spacing inside the elements */
  border: 1px solid #ccc; /* Add a border for consistency */
  border-radius: 4px; /* Add rounded corners */
}

.phone-input-container select:focus,
.phone-input-container input:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
}