.balance-navigation-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #888;
  color: white;
}

.tab:hover {
  background-color: #888;
  color: white;
}