.verify-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--neutral-200);
  padding: 20px;
}

.verify-email-card {
  background-color: var(--neutral-100);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.verify-email-card .fintrack-logo {
  height: 50px; /* Adjust the height of the logo */
  width: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add spacing below the logo */
}

.verify-email-card h1 {
  font-size: var(--font-size-2xl);
  color: var(--text-primary);
  margin-bottom: 20px;
}

.status-message {
  font-size: var(--font-size-base);
  margin-bottom: 20px;
}

.status-message.success {
  color: var(--success-color); /* Green for success */
}

.status-message.error {
  background-color: var(--error-message-bg);
  border-color: var(--error-message-border);
  color: var(--error-message-text);
  box-shadow: var(--error-message-shadow);
}

.retry-button {
  background-color: var(--primary-500);
  color: var(--neutral-100);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color var(--transition-normal);
}

.retry-button:hover {
  background-color: var(--primary-600);
}