.profile-detail {
  padding: var(--spacing-md);
  background-color: var(--page-bg);
  border: 1px solid var(--border-light);
  border-radius: var(--border-radius-md);
}

.profile-detail h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
}

.profile-detail p {
  font-size: var(--font-size-base);
  margin: var(--spacing-sm) 0;
}

.profile-detail-error {
  color: var(--error-color);
  font-size: var(--font-size-sm);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-input-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: var(--spacing-sm); /* Add spacing between the select and input */
}

.phone-input-container select,
.phone-input-container input {
  height: var(--input-height); /* Ensure consistent height for both elements */
  font-size: var(--font-size-base); /* Adjust font size for better readability */
  padding: var(--spacing-xs) var(--spacing-sm); /* Add padding for better spacing inside the elements */
  border: 1px solid var(--input-border); /* Add a border for consistency */
  border-radius: var(--border-radius-sm); /* Add rounded corners */
}

.phone-input-container select:focus,
.phone-input-container input:focus {
  outline: none;
  border-color: var(--input-focus-border); /* Highlight border on focus */
}