.transaction-table-container {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  display: block;
  overflow: hidden;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  table-layout: fixed;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.transaction-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.transaction-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-table tr:hover {
  background-color: #f1f1f1;
}

.transaction-table td.debit-column {
  color: red; /* Make debit text red */
  font-weight: bold;
}

.transaction-table td {
  vertical-align: middle;
}

.transaction-table-empty {
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 20px;
}

.scrollable-table {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.scrollable-tbody {
  max-height: 400px; /* Set a fixed height for the scrollable body */
  overflow-y: auto;
}

.scrollable-tbody table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.no-transactions-message {
  display: flex;
  justify-content: center; /* Horizontally center the message */
  align-items: center; /* Vertically center the message */
  height: 300px; /* Set a height to center the message within the container */
  font-size: 1.5rem;
  color: #888;
  font-style: italic;
}

/* Define column widths using CSS classes */
.col-date {
  width: 10%;
}

.col-asset-name {
  width: 15%;
}

.col-symbol,
.col-asset-type {
  width: 10%;
}

.col-credit,
.col-debit {
  width: 15%;
}

.col-total-before,
.col-total-after {
  width: 15%;
}

.col-unit {
  width: 10%;
}

.col-delete {
  width: 10%;
}