.icon-button {
  width: var(--button-size-medium);
  height: var(--button-size-medium);
}

.icon-button-small {
  width: var(--button-size-small);
  height: var(--button-size-small);
}

.icon-button-large {
  width: var(--button-size-large);
  height: var(--button-size-large);
}

.icon-image {
  width: var(--button-size-medium);
  height: var(--button-size-medium);
}

.icon-button-small .icon-image {
  width: var(--button-size-small);
  height: var(--button-size-small);
}

.icon-button-large .icon-image {
  width: var(--button-size-large);
  height: var(--button-size-large);
}

/* Responsive Design */
@media (max-width: 768px) {
  .icon-button,
  .icon-button-large {
    width: var(--button-size-small);
    height: var(--button-size-small);
  }
}

.icon-button {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background: transparent;
  border: none;
  box-shadow: none;
  opacity: 0.8; /* Add hover effect */
}

.icon-button:focus {
  background: transparent;
  border: none;
  box-shadow: none;
}

.icon-button:active {
  background: transparent;
  border: none;
  box-shadow: none;
}